.container {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    height: 4rem;
    color: white;
    border: none;
    border-radius: 25px;
    background-color: #050506;
    min-width: 12rem;
    font-size: 20px;
    box-shadow: 0 0 10px 5px rgba(58, 58, 70, 0.2);
}

.container:hover {
    cursor: pointer;
}

.left {
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 0.8rem;
    padding: 0rem 1.2rem;
    align-items: center;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
    border-right: 3px solid #3a3a46;
}

.left p {
    display: flex;
    align-items: center;
    margin: 0;
    height: 45px;
}

.right {
    color: #797a83;
    font-weight: 800;
}

.highlightColor {
    color: #fbf8aa;
}

.star {
    display: flex;
    align-items: center;
}
