/* starBgColor: #f7f6fd */
/* cookieBgColor: #181a20 */

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navigationContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}